.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999999;
}

.router-outlet-container {
  position: relative;
}
